<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col sm-offset-3">
      <h1>Make your mix:</h1>
      <%= simple_form_for([@cocktail, @dose]) do |f|%>
        <%= f.association :ingredient, collection: Ingredient.order('name ASC') %>
        <%= f.input :description, placeholder: "5cl"%>
        <%= f.submit %>
      <% end %>
      <p><%= link_to "Back to cocktails", root_path %></p>
    </div>
  </div>
</div>
